.new-btn a {
  color: #ffffff;
}
.serch_unit {
  padding-top: 15px;
}
.status-choice {
  margin-bottom: 0
}
select#task_status {
  padding: 8px;
  border-color: #d3d3d3;
  border-radius: 5px;
  font-size: 15px;
}
.pagination {
  justify-content: center;
}
